body {
  background-color: black;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#scoreboard {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 20pt;
  color: yellow;
}

#fullscreenToggle {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 5px;
  top: 25px;
  background-size: 32px 32px;
  cursor: pointer;
}

#fullscreenToggle.enterFullscreen {
  background-image: url(/images/fullscreen.png);
}

#fullscreenToggle.exitFullscreen {
  background-image: url(/images/exitfullscreen.png);
}

canvas {
  display: block;
}

canvas#miniMap {
  position: absolute;

  right: 10px;
  bottom: 10px;

  z-index: 1;

  border-width: 1px;
  border-color: blue;
  border-style: solid;
}
